# Upstream: https://github.com/kobuki-base/kobuki_ftdi/blob/devel/60-kobuki.rules
# Creates /dev/kobuki for the FTDI interface used by Kobuki.
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="kobuki*", ATTR{device/latency_timer}="1", MODE:="0666", GROUP:="dialout", SYMLINK+="kobuki"
